/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  margin: 0 auto;
  color: var(--accent-color);

  font-family: var(--font-family, sans-serif);
  font-size: var(--fs-basic, sans-serif);

  background-color: var(--bg-color);
  background-image: var(--bg-image);

  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;

  max-inline-size: 1440px;
  font-variation-settings: 'wght' var(--fw-text);

  container-type: inline-size;
}

.page__section {
  background-color: var(--bg-color);
  
  @media (inline-size > 375px) {
    margin: 0 auto;
    inline-size: var(--content-inline-size);
    container-type: inline-size;
  }
}

.button {
  background-color: var(--bg-color);
  font-family: var(--font-family-accent);
  block-size: 38px;
  cursor: pointer;
}

.bordered {
  border: 2px solid var(--accent-color);
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  margin: 100px auto;
  font-family: var(--font-family-accent);
}

.logo-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  font-weight: var(--fw-accent);
}

.logo-group__logo {
  font-size: var(--fs-logo);
}

.logo-group__title {
  font-size: var(--fs-title);
  text-transform: uppercase;
}

.theme-menu {
  font-size: var(--fs-accented);
}

.theme-menu__button {
  border: none;
  padding: 0;
  text-transform: uppercase;
  background-color: transparent;

  &:focus {
    outline: none;
  }
}

.theme-menu__item:not(:first-child) {
  margin-block-start: 14px;
}



.floppy {
  width: 40px;
}

/* card */
.card__img {
  object-position: center;
  object-fit: cover;
  inline-size: 100%;
}

.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 25px
}

.card__buttons {
  display: flex;
  justify-content: end;
  align-self: end;
}

.card__icon-button {
  width: 15px;
}
.card__like-button {
  
  width: 130px;
}